/* MIX */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* /MIX */


/* SFONDO */

.sfondo {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-superiore {
  position: absolute;
  top: 0;
  right: 0;
  height: 20%;
  width: 100%;
  background-color: #2B9789;
}

.barra-inferiore {
  position: absolute;
  top: 20%;
  right: 0;
  height: 80%;
  width: 100%;
  background-color: #DCDBD1;
}

.container {
  z-index: 1;
  height: calc(100vh - 10%);
  width: 1000px;
  position: relative;
}

/* /SFONDO */

/* HEADER */

header {
  position: absolute;
  top: 0;
  right: 0;
  height: 10%;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
}

.account {
  width: 30%;
  height: 100%;
  border-right: 1px solid #B1B1B1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.account img, .chat-corrente img {
  height: 40px;
  border-radius: 100%;
}

.account i, .chat-corrente i {
  color: #B1B1B1;
  margin: 5px;
}

.chat-corrente {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-chat-corrente {
  margin-left: 10px;
}

.nome-chat-corrente, .nome-chat {
  font-size: 12px;
}

.accesso-chat-corrente, .anteprima {
  font-size: 10px;
  color: #9A9FA1;
}

/* /HEADER */


/* MAIN */

/* ASIDE */

aside {
  position: absolute;
  top: 10%;
  left: 0;
  height: 90%;
  width: 30%;
  background-color: #fff;
  overflow: auto;
}

/* NOTIFICA */

.notifica-attivazione {
  height: 50px;
  width: 100%;
  background-color: #8EDAFB;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.sound-icona {
  padding: 10px;
  background-color: white;
  border-radius: 100%;
  margin-right: 10px;
}

.sound-icona i {
  color: #8EDAFB;
}

.notifica {
  font-size: 10px;
}

.link-notifica {
  font-size: 9px;
  color: #9A9FA1;
}

/* /NOTIFICA */

/* INPUT */
.container-input {
  padding: 3px;
}
.search-container {
  background-color: #FFF;
  position: relative;
  border: 1px solid #F1F1F1;
  border-radius: 3px;
  padding: 3px 10px 3px 50px;
}
.search-button {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #F1F1F1;
  color: #FFF;
  outline: 0;
  width: 45px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  background-color: transparent;
  outline: none;
  font-size: 15px;
  border: 0;
}

.search-button i {
  font-size: 11px;
  color: #9A9FA1;
}

.search-container input::placeholder {
  font-size: 11px;
}

/* /INPUT */

/* LISTA CHAT */

.lista-chat li {
  list-style: none;
}

.casella {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid #F1F1F1;
}

.active {
  background-color: #E9EBEB;
}

.utente {
  display: flex;
  justify-content: center;
  align-items: center;
}

.utente img {
  height: 45px;
  border-radius: 100%;
  margin-right: 10px;
}

.orario {
  font-size: 9px;
  color: #9A9FA1;
}


/* /LISTA CHAT */

/* /ASIDE */


/* MAIN CONTENT */

.main-content {
  position: absolute;
  top: 10%;
  left: 30%;
  height: 80%;
  width: 70%;
  background-image: url(../img/mine.jpg);
  overflow: auto;
  display: flex;
  justify-content: center;
}

.spazio-messaggi {
  height: 100%;
  width: 85%;
  padding: 20px 0;
}

.linea-ricevuti {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

.linea-inviati {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}

.messaggi-ricevuti {
  float: left;
  display: block;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.messaggi-inviati {
  float: right;
  display: block;
  padding: 10px;
  background-color: green;
  border-radius: 5px;
}

/* /MAIN CONTENT */

/* INSERIMENTO TESTO */

.inserimento-testo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10%;
  width: 70%;
  background-color: #F3EEEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
}

.inserimento-testo input {
  width: 85%;
  height: 85%;
  border-radius: 5px;
  outline: none;
  border-width: 0;
  padding: 0 5px;
}

.inserimento-testo a {
  color: #9A9FA1;
}

/* /INSERIMENTO TESTO */
